// utils
.pointer
  cursor: pointer
.spacer
  flex: 1 0 auto
.hide
  display: none !important
.nowrap
  white-space: nowrap
.mb-8
  margin-bottom: 8px !important
.mb-16
  margin-bottom: 16px !important

.icon-size
  width: 24px
  height: 24px
.icon-grey
  color: rgba(0, 0, 0, 0.54)
// end utils

// alert
.s-alert-wrapper
  z-index: 3000
//

// theme
.form-item
  margin: 16px 0px 8px 0px !important
.btn-buy
  background-color: #3f51b5 !important // #4CAF50 !important
.btn-sell
  background-color: #f5005 !important
//

// grid
.react-grid-item.fullscreen
  transform: none !important
  .widget
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2000

body
  background: #efefef
  margin: 0
  padding: 0
  font-family: sans-serif
.widget
  width: 100%
  height: 100%
  max-width: 100%
  max-height: 100%
  background: #fff
  border: 1px solid rgba(0, 0, 0, 0.12)
  display: flex
  flex-direction: column
  position: relative

.widget-header
  display: flex
  justify-content: space-between
  align-items: center
  flex: 0 0 32px
  padding: 0px 10px

.widget-body
  flex: 1 1 auto
  overflow-y: auto
  overflow-x: hidden
  position: relative


.table
  width: 100%
  td
    width: 33%
.table-compact
  thead
    border-bottom: 1px solid #bebebe
    tr
      th
        font-weight: 500
        font-size: 16px
  tbody
    tr

      td
        font-weight: 200
        font-size: 14px
        padding: 4px 8px


.el-table
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  .el-table__header-wrapper
    position: absolute
    height: 40px

  .el-table__body-wrapper
    position: absolute
    top: 40px
    height: calc(100% - 40px) !important

    table
      border-spacing: 0px
      border: 0px
  &.no-thead
    .el-table__body-wrapper
      top: 0
      height: 100% !important

.myTrades-table
  .el-table__header
    th
      max-width: 220px
      min-width: 220px
  .el-table__body
    td
      font-size: 12px
.noHeader-table
  .el-table__body-wrapper
    top: 0
    height: 100% !important
    td
      a
        color: black
        text-decoration: none

.simpleForm
  padding: 12px
  .simpleForm-header
    font-size: 14px
    font-weight: 300
    margin-bottom: 14px
  .simpleForm-formGroup
    margin: 0 0 10px
    .text
      color: #ccc
      font-size: 12px
    .el-input
      .el-input__inner
        border-radius: 0px
        border: 1px solid rgba(0, 0, 0, 0.12)
      .el-input-group__append
        background-color: #fff
        color: #d3d3d3
        border-radius: 0px
        border: 1px solid rgba(0, 0, 0, 0.12)
        border-left: 0
  button
    display: block
    width: 100%


.simpleSearch
  font-size: 13px
  width: 100%
  border: 1px solid #bebebe
  outline: none
  padding: 2px 5px
  &:focus
    border: 1px solid red


.simpleTable
  border: none
  border-spacing: 0px
  border-collapse: separate
  width: 100%
  tr:hover td
    background: rgba(0,0,0,.03)
  th, td
    padding: 4px 6px
    white-space: nowrap
    text-overflow: ellipsis
  .simpleTable-header
    font-size: 13px
  th
    font-size: 12px
  td
    font-weight: 300
    font-size: 12px
    box-shadow: 0 0 0.5px #bebebe
    text-align: right
    &:nth-child(1)
      text-align: left
  &.simpleTable-aside
    max-width: 100%
    td
      white-space: normal
  // tbody
  //   tr
  //     background: linear-gradient(to right, #ffffff 0%,#ffffff 60%,#7db9e8 60%,#7db9e8 100%)

//
.market
  display: flex
  .categories, .widgets
    flex: 1 0 100%
  .categories
    text-transform: capitalize
  .title
    height: 46px
    display: flex
    justify-content: start
    align-items: center
    margin-left: 16px
    text-transform: capitalize
  .market-widget
    height: 200px
    display: flex
    flex-direction: column
    border-bottom: 1px solid #bebebe
    position: relative
    background-repeat: no-repeat
    background-size: contain
    background-position: left top
    .market-wrapper
      background: rgba(0,0,0,0.7)
      padding: 20px
      flex: 1 1 auto
      display: flex
      flex-direction: column
      transition: all .2s
      justify-content: center
      text-align: center
      align-items: center
      .market-main
        flex: 0 0 auto
      p, .market-actions
        display: none
      .market-header
        text-align: center
        padding: 10px
    &:hover
      .market-wrapper
        background: rgba(0,0,0,0.85)
        justify-content: flex-start
        text-align: left
        align-items: normal
      .market-main
        flex: 1 0 auto
      p
        display: block
      .market-actions
        display: flex
      .market-header
        background: none
        text-align: center
        padding: 0
  .market-main
    //   flex: 1 0 auto
    .market-header
      color: #fff
      font-size: 2em
      font-weight: 300
      padding: 0
      margin: 0 0 0.4em
    .market-description
      color: #fff
      font-size: 1em
      font-weight: 300
      margin: 0 0 .8em
  .market-actions
    display: flex
    justify-content: space-between
    align-items: flex-end
    .market-actions-autor
      flex: 0 0 auto
      a
        color: #fff
        display: inline-block
        vertical-align: middle
        text-decoration: none
      .market-actions-git
        margin-left: 16px
        img
          width: 30px
          height: auto
// aside
.sections
.section
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
.section-body
  margin: 20px 20px 20px 24px

// .buttons-group-2
//   width: 100%
//   .button
//     width: calc(50% - 4px)
//     &+.button
//       margin-left: 8px



 // settings icons
.icons-list
  .icon
    display: inline-block
    width: auto
    img
      width: 24px
      height: 24px

// app
.drawer-left
  width: 72px
  overflow-x: hidden
  .spacer
    flex: 1 0 auto
.main
  margin-left: 72px

// create order
.createOrder-header
  font-size: 12px
  text-align: right
  margin-bottom: 8px

// selector
.selector
  display: flex
  justify-content: center
  align-items: center
  button
    padding: 6px 16px
    flex: 1 0 auto
    height: 100%
    border-radius: 0
  button+button
    border-left: 1px solid rgba(0, 0, 0, 0.12)
